<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Xigen_CustomerAccountManager::AccountManager" sortOrder="10" title="AccountManager">
					<resource id="Xigen_CustomerAccountManager::AccountManager_save" sortOrder="10" title="Save AccountManager"/>
					<resource id="Xigen_CustomerAccountManager::AccountManager_delete" sortOrder="20" title="Delete AccountManager"/>
					<resource id="Xigen_CustomerAccountManager::AccountManager_update" sortOrder="30" title="Update AccountManager"/>
					<resource id="Xigen_CustomerAccountManager::AccountManager_view" sortOrder="40" title="View AccountManager"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
